Repository kabirbaidhya/boss, pull requests merged in 2018-12, with the labels that each got.

#146 Fix issue with deploying with a specific commit on remote-source deployment preset
  boss/api/deployment/preset/remote_source.py
  boss/api/git.py
Labels: bug, remote-source

#148 Use deployment.base_dir instead of app_dir for remote-source deployment to make config consistent
  README.md
  boss.yml.example
  boss/api/deployment/preset/remote_source.py
  boss/config.py
  boss/core/constants/config.py
  boss/init.py
  docs/configuration.md
Labels: breaking-change, deployment, remote-source

#150 Display specific vault error messages if boss halts due vault error
  boss/config.py
  boss/core/vault.py
  tests/core/test_vault.py
Labels: bug, config

#151 Remove hipchat integration
  CHANGELOG.md
  boss.yml.example
  boss/api/hipchat.py
  boss/api/notif.py
  boss/core/constants/config.py
  docs/configuration.md
  tests/api/test_hipchat.py
  tests/api/test_notif.py
Labels: breaking-change, notification
